@{
    ViewBag.Title = "Crear Incidencia";
}

<form>
    <label for="aula">Aula</label>
    <br>
    <select>
        @foreach (var aula in ViewBag.ListaAulas)
        {
            <option value="@aula">@aula</option>
        }
    </select>
    <br>

    <label for="asunto">Asunto</label>
    <br>
    <input id="asunto">
    <br>

    <label for="comentario">Comentario</label>
    <br>
    <textarea id="comentario"></textarea>

    <br>
    <label for="equipo">Equipo</label>
    <br>
    <input id="equipo">
    <br>

    <input type="submit" name="post" value="Enviar">
</form>
