@{
    ViewBag.Title = "Login";
}

@model GestorIncidencias.Models.Binding.LoginQuery

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "login-form display-flex flex-column my-0 mx-auto" }))
{
    <h1 class="display-3 text-center mb-md-4 mb-3">Login</h1>
    <label class="sr-only" for="centro">Centro</label>
    @Html.TextBoxFor(m => m.Centro, new { @class = "form-control", @id = "centro", @type = "centro", @placeholder = "Introdudir centro" })
    <label class="sr-only" for="clave">Clave</label>
    @Html.TextBoxFor(m => m.Clave, new { @class = "form-control", @id = "clave", @type = "clave", @placeholder = "Clave" })
    <button type="submit" class="btn btn-lg btn-secondary btn-block mt-md-4 mt-3">Login</button>
    if (ViewBag.MensajeError != "")
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.MensajeError
        </div>
    }
}