body {
    height: 100%;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Login */
form.login-form {
    max-width: 330px;
}

form.login-form input#centro {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

form.login-form input#clave {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
